<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo 01** | Python: Variáveis & Tipos de Dados
Resolução do Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)<br>
Aluno Lucas Scaldaferri Magalhães Freitas

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [19]:
#Resolução 1a

print("Olá mundo!")

Olá mundo!

Crie uma célua de texto e adicione uma imagem.

In [ ]:
#Resolução 1b


<img src="https://cdn-icons-png.flaticon.com/512/5986/5986092.png">

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [48]:
# Resolução 2

# 19/01
tkt_19 = 320.52
sqv_19 = 3

# 20/01
vtv_20 = 834.47
tkt_20 = 119.21

# 23/01

vtv_23 = 15378.12
sqv_23 = 5

In [11]:
# (A)

vtv_19 = tkt_19 * sqv_19
print(f'A = {vtv_19}')

A = 961.56

In [16]:
# (B)
sqv_20 = vtv_20 / tkt_20
print(f'B = {sqv_20}')

B = 7.000000000000001

In [18]:
# (C)

tkt_23 = vtv_23 / sqv_23
print(f'C = {tkt_23}')

C = 3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [30]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

In [34]:
# Resolução 3a

## Método 1 = isalpha

x = cancao.isalpha()
print(x)

## Método 2 = count

x = cancao.count("roda")
print(x+1)

## Método 3 = upper

x = cancao.upper()
print(x)

False
4
RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [35]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

---

In [49]:
## Resolução 3b

psc_var_slc = noticia.find('%')
selic = noticia[psc_var_slc-4:psc_var_slc+1]
print(selic)

psc_var_ano = noticia.find('6')
ano = noticia[psc_var_ano]
print(ano)

2,75%
6

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [50]:
a = False
b = True

x = not a & b

# Resolução 4

## O valor da variável x é: True

### Considerando: a = False e a lógica diz not a, ou seja o inverso de a, logo a se torna = True
### Considerando: b = True  e a lógica diz not A & B, a E b
### Logo: x = True 

### a = False ; not a = True
###                 b = True
###                          a & b = True